@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>
<p>
    I am a Durban University of Technology graduate in ICT in Business Analysis. I majored in Business Information Systems and Application Development. I have experience coding with C# and SQL, working with databases, and using Business Analysis tools.
</p>
<p>
    I’ve worked in the IT department at a municipality in the West Rand. I am always eager to learn and grow in the tech space.
</p>
