@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Me</h2>

<ul class="list-group">
    <li class="list-group-item">Email: <a href="mailto:ntandobovungana@icloud.com">ntandobovungana@icloud.com</a></li>
    <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/ntando-bovungana-75632a264" target="_blank">View Profile</a></li>
    <li class="list-group-item">GitHub: <a href="https://github.com/Khanya-1419" target="_blank">View Projects</a></li>
</ul>
